#ecap-map-regions .inside{
    padding: 0;
    margin: 0;
}
#ecap-map-regions .ecap_loading_msg,
#ecap-map-regions .ecap_error_msg{
    padding: 5px;
}
#ecap-map-regions .ecap_error_msg{
    color: red;
}